{% extends 'card_generator/base.html' %}
{% load static %}
{% block title %}Информация о карте{% endblock %}

{% block header %}
    {% include 'block/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
            </nav>
            <img class="img-fluid rounded " src="{{ post.image.url }}" alt="">
            <hr>
            <p class="lead">
            <p>Серия карты: {{ card.card_series }}</p>
            <p>Номер карты: {{ card.number_card }}</p>
            <p>Дата выпуска карты: {{ card.card_issue_date }}</p>
            <p>Дата окончания активности карты: {{ card.end_date_of_card_activity }}</p>
            <p>Сумма на карте: {{ card.amount_on_the_card|floatformat:2 }} руб.</p>
            <p>Статус карты: {{ card.card_status }}</p>
            <br>
            <p>Дата и время покупок по карте:</p>
            {% if usage %}
                {% for us in usage %}
                    <p>{{ us.card_use_date }}</p>
                {% endfor %}
            {% else %}
                <p>еще не было покупок...</p>
            {% endif %}
            </p>
            <div class="d-flex justify-content-end"></div>
            <hr>
                {% load crispy_forms_tags %}
                <p>{% crispy form %}</p>

                <form method="post" action="{% url 'delete_card' card.pk %}">
                {% csrf_token %}
                <br>
                <input type="submit" class="btn btn-info mb-2" value="Удалить карту">
                </form>
    </div>
</div>
</div>
{% endblock %}